__pycache__/
*.py[cod]
.pytest_cache/

.venv/
venv/
log/

.DS_Store
*.log

build/
dist/
*.egg-info/

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
!terraform/terraform.tfvars.example
